@model Sondage_Project.Data.Models.Sondage

@{
    ViewData["Title"] = "Create";
}

<h1>Création de sondage</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question" class="control-label"></label>
                <textarea asp-for="Question" class="form-control" rows ="3"></textarea>
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer_1" class="control-label">Réponse 1</label>
                <textarea asp-for="Answer_1" class="form-control" rows ="1"></textarea>
                <span asp-validation-for="Answer_1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer_2" class="control-label">Réponse 2</label>
                <textarea asp-for="Answer_2" class="form-control" rows ="1"></textarea>
                <span asp-validation-for="Answer_2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer_3" class="control-label">Réponse 3</label>
                <textarea asp-for="Answer_3" class="form-control" rows ="1"></textarea>
                <span asp-validation-for="Answer_3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Answer_4" class="control-label">Réponse 4</label>
               <textarea asp-for="Answer_4" class="form-control" rows ="1"></textarea>
                <span asp-validation-for="Answer_4" class="text-danger"></span>
            </div>
                    <input type="hidden" value="true" asp-for="IsActivated" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MultipleAnswer"/>Choix multiples
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Création" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
