@model Sondage_Project.Data.Models.Sondage

@{
    ViewData["Title"] = "Manual";
}

<h1>Manual</h1>

<div class ="row">
    <div class = "container-fluid">
        <div class = "col-xl-4">
            <p>ATTENTION : ce lien des à conserver précieusement. Si vous quitter cette page vous n'aurez pas la possibilité d'y revenir.</p>
            <p>Désactivation du sondage :</p>
            <a asp-action="DisableLinks" asp-route-id="@Model.Id">Desactiver le lien</a>
        </div>
        
        @if (@Model.IsActivated)
        {
            <div class = "col-xl-4">
            <p>Pour que les gens accèdent le plus facilement possible au sondage, il est conseillé de partager ce lien par mail.</p>
            <p>Accéder a la page de vote : </p>
            <a asp-action="Answer" asp-route-id="@Model.Id">Vote</a>
            </div>
        }
            
        <div class = "col-xl-4">
            <p>Cliquer sur ce lien pour accéder au résultats du sondage : </p>
            <a asp-action="Details" asp-route-id="@Model.Id">Résultat</a>
        </div>
    </div>
</div>