@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenu sur le Carnet</h1>
    <p>Afin de profiter des fonctionnalités du site veuillez vous connecter si vous disposez d'un compte.<br />
        Dans le cas contraire veuillez cliquer sur le bouton Register afin de créer un compte. <br />
        Nous vous souhaitons une bonne visite.</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
