@{
    ViewData["Title"] = "Bienvenue dans le Carnet";
}

<div class="text-center">
    <h1 id="main-title-home">Bienvenue dans le Carnet</h1>
    <p id="main-text-home">Pour profiter des pages de ce livret il est impératif que vous créer un compte.<br />
    Cliquer sut le bouton “Inscription” afin de rejoindre notre communauté.<br />
    Si vous en faite déja partie, cliquer sur le bouton “Connexion”<br />
    Nous vous souhaitons une bonne cogitation !</p>
</div>
