@model Sondage_Project.Data.Models.MailModel
@{
    ViewBag.Title = "IndexMail";
}

<h1>Envoi de Mail</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label asp-for="From" class="control-label">De :</label>
                <input asp-for="From" class="form-control" rows ="3">
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="To" class="control-label">Pour :</label>
                <input asp-for="To" class="form-control" rows ="1">
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label">Sujet :</label>
                <input asp-for="Subject" class="form-control" rows ="1">
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group" id="answer3">
                <label asp-for="Body" class="control-label">Message</label>
                <textarea asp-for="Body" class="form-control" rows ="3"></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Envoyer" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
